/* Adicione ao final do App.css */
.tradutor-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}


/* Adicione este trecho de código ao seu arquivo de estilos */
.showTradution button {
  margin-bottom: 10px; /* Ajuste conforme necessário */
}

/* Outros estilos podem continuar abaixo */
